* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.AppContainer {
    max-width: 1000px;
    margin: 0 auto;
}

/* 3d styling */

:root {
    --cubeWidth: 150px;
    --translateZ: 75px;
}

.CubeContainer {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    perspective: 1000px;
}

.CubeContainer .cube {
    width: var(--cubeWidth);
    height: var(--cubeWidth);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.CubeContainer .cubeFace {
    width: var(--cubeWidth);
    height: var(--cubeWidth);
    position: absolute;
    background-color: yellow;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CubeContainer .front {
    background-color: blue;
    transform: translateZ(var(--translateZ));
}
.CubeContainer .back {
    background-color: red;
    transform: rotateY(180deg) translateZ(var(--translateZ));
}
.CubeContainer .left {
    background-color: green;
    transform: rotateY(-90deg) translateZ(var(--translateZ));
}
.CubeContainer .right {
    background-color: gray;
    transform: rotateY(90deg) translateZ(var(--translateZ)); 
}
.CubeContainer .top {
    background-color: pink;
    transform: rotateX(90deg) translateZ(var(--translateZ)); 
}
.CubeContainer .bottom {
    background-color: yellowgreen;
    transform: rotateX(-90deg) translateZ(var(--translateZ)); 
}